table {
  width: 80%;
}

.removeButton {
  background-color: red;
  display: block;
  margin: auto;
  width: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-header-cell {
  text-align: center;
  margin: auto;
}

.mat-cell {
  text-align: center;
}

.buttonStyle {
  background-color: lightskyblue;
  color: #6B6B6B;
  border: none;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  padding: 15px 92px;

}
