<div class="container">
  <h2> Expenses</h2>
  <div *ngIf="expenses.length ==   0">
    <div class="alert alert-info" role="alert">No expenses yet.</div>
    <br>
    <button onclick="goBack()" class="buttonStyle" (click)="goBack()">Get Back</button>

  </div>

  <div *ngIf="expenses.length > 0">
    <table mat-table (onSelectionChange)="updateData()" [dataSource]="expenses" class="mat-elevation-z8">

      <!-- Id Column -->
      <ng-container matColumnDef="expenseId">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">
          userId
        </th>
        <td mat-cell *matCellDef="let expense" [style.display]="'none'"> {{expense.expenseId}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let expense" > {{expense.expenseType}}</td>
      </ng-container>

      <!-- Income Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Cost</th>
        <td mat-cell *matCellDef="let expense"> {{expense.value}} $</td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef>Remove</th>
        <mat-cell buttom (click)="removeExpense(row)" class="removeButton" *matCellDef="let row"> X</mat-cell>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
