<head>
  <title>Users</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<div class="container">
  <h2> Users</h2>
  <div *ngIf="users.length == 0">
    <div class="alert alert-info" role="alert">No users yet</div>
    <button class="addButton" (click)="showDialog(myAddTemplate)"> +</button>
  </div>

  <div *ngIf="users.length > 0">
    <button class="addButton" (click)="showDialog(myAddTemplate)"> +</button>
    <table mat-table (onSelectionChange)="updateData()" [dataSource]="users" class="mat-elevation-z8">

      <!-- Id Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">
          userId
        </th>
        <td mat-cell *matCellDef="let user" [style.display]="'none'"> {{user.userId}}</td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username</th>
        <td mat-cell *matCellDef="let user" (click)=showUser(myTemplate,user)> {{user.username}}</td>
      </ng-container>

      <!-- Telephone Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let user" (click)=showUser(myTemplate,user)> {{user.email}}</td>
      </ng-container>

      <!-- Details Column -->
      <ng-container matColumnDef="currentIncome">
        <th mat-header-cell *matHeaderCellDef> Income</th>
        <td mat-cell *matCellDef="let user" (click)=showUser(myTemplate,user)> {{user.currentIncome}}</td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="userRole">
        <th mat-header-cell *matHeaderCellDef> Role</th>
        <td mat-cell *matCellDef="let user" (click)=showUser(myTemplate,user)> {{user.userRole}}</td>
      </ng-container>
      <!-- Delete Column -->
      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef>Remove</th>
        <mat-cell *matCellDef="let row">
          <button mat-button (click)="removeUser(row)" class="removeButton">X</button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button class="buttonStyle" (click)="showDialog(myTokenTemplate)">Send Token</button>
  </div>


  <ng-template #myTemplate>
    <h2 style="color: gray">Edit  {{clickedUser.username}}</h2>
    <form #f="ngForm">
      <input class="form-control" type="number" name="id" style="display: none" ngModel="{{clickedUser.userId}}">
      <input class="form-control" type="text" name="username" autocomplete="off" ngModel="{{clickedUser.username}}">
      <input class="form-control" type="password" name="password" autocomplete="off" ngModel="{{clickedUser.password}}">
      <input class="form-control" type="text" name="email" autocomplete="off" ngModel="{{clickedUser.email}}">
      <input class="form-control" type="text" name="userRole" autocomplete="off" ngModel="{{clickedUser.userRole}}">
      <input class="form-control" type="text" name="currentIncome" autocomplete="off"
             ngModel="{{clickedUser.currentIncome}}">
      <br>
      <br>
      <button type="submit" class="buttonStyle" mat-raised-button matDialogClose (click)="onSubmitUpdate(f)">Update
      </button>
    </form>
    <mat-dialog-actions align="end">
    </mat-dialog-actions>
  </ng-template>

  <ng-template #myAddTemplate>
    <h2 style="color: gray">Add new user</h2>
    <form #f="ngForm">
      <input class="form-control" type="number" name="id" style="display: none" ngModel>
      <input class="form-control" type="text" name="username" autocomplete="off" placeholder="username" ngModel>
      <input class="form-control" type="password" name="password" autocomplete="off" placeholder="password" ngModel>
      <input class="form-control" type="text" name="email" autocomplete="off" placeholder="email" ngModel>
      <input class="form-control" type="text" name="userRole" autocomplete="off" placeholder="role" ngModel>
      <input class="form-control" type="text" name="currentIncome" autocomplete="off" placeholder="income" ngModel>
      <br>
      <br>
      <button type="submit" class="buttonStyle" mat-raised-button matDialogClose (click)="onSubmitAdd(f)">Save</button>
    </form>
    <mat-dialog-actions align="end">
    </mat-dialog-actions>
  </ng-template>

  <ng-template #myTokenTemplate>
    <h2 style="color: gray">Enter user email</h2>
    <form #f="ngForm">
      <input class="form-control" type="email" name="destEmail" autocomplete="off" placeholder="email" ngModel email="true">
      <label style="color: gray">Admin </label>
      <input class="form-control" type="checkbox" name="isAdmin" ngModel>
      <br>
      <br>
      <button type="submit" class="buttonStyle" mat-raised-button matDialogClose (click)="onSubmitSendToken(f)">Send
      </button>
    </form>
    <mat-dialog-actions align="end">
    </mat-dialog-actions>
  </ng-template>


</div>
