<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="512" alt="Logo"
         src="../../../assets/pie%20chart.png">
  </div>
</div>
