

div div form{
  list-style: none;
  width: 1200px;
  margin: auto;

}

.container{
  width: 400px;
  margin: auto;
  padding-top: 160px;
}

.form-control{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.buttonStyle{
  background-color:lightskyblue;
  color: #6B6B6B;
  border: none;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  margin: 4px 2px;
  padding: 15px 80px;

}
